/* ---------------------------------------- Main Body and Block Settings */

body {
    font-family: 'Work Sans', sans-serif;
    margin: 30px;
    background-color: blueviolet;
}

.contintro {
    border: 1px solid blue;
    padding-top: 15px;
    padding-bottom: 15px;    
}

.contimage {
    border: 1px solid red;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contref {
    border: 1px solid greenyellow;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rowhead {
    border: 3px dotted purple;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rowref {
    border: 3px solid brown;
    height: 300px;
}

.colref {
    border: 3px dotted teal;    
}

/* ---------------------------------------- Images */

.logo {
    margin-right: 5%;
    max-width: 10%;
    height: auto;
}


/* ---------------------------------------- Footer-Social-Media */


.social-media {
    text-align: center;
    display: inline;
}

.social-media i {
    color: white;
    margin: 5%;
    padding: 1%;
}

.social-media i:hover {
    color: orangered;
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
}
