/* ---------------------------------------- Main Body and Block Settings */

body {
    font-family: 'Work Sans', sans-serif;
    margin: 30px;
    background-color: purple;        
}

.contintro {
    border: 1px solid blue;
    padding-top: 15px;
    padding-bottom: 15px; 
}

.contimage {
    border: 1px solid red;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contref {
    border: 1px solid greenyellow;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rowhead {
    border: 3px dotted purple;
    padding-top: 70px;
    padding-bottom: 10px;
    overflow: hidden;
}

.rowref {
    border: 3px solid brown;  
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.rowimage {
    border: 3px dotted black;  
    overflow: hidden;
}

.colref {
    border: 3px dotted teal;    
}

/* ---------------------------------------- Images */

.logo {
    margin-right: 5%;
    max-width: 10%;
    height: auto;
}

.scale-image {
    width: 80%;
    object-fit: cover;
    height: 200px;
}

.transform-pic {    
    width: 100%;
    height: auto; 
}

.future-pic {
    height: 100%;
    width: auto;    
}

.office-admin {
    height: 100%;
    width: auto; 
}

.pain-pic {
    width: 100%; 
    height: auto;    
}

.project-pic {
    width: 100%; 
    height: auto;
}

.future-pic {
    height: 100%;
    width: auto; 
}

.flash-arrow i {
    font-size: 10em;
    color: red;
    text-shadow: 5px 5px 5px yellow;
    padding-top: 20px;
}

.blink {
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

/* ---------------------------------------- Footer-Social-Media */


.social-media {
    text-align: center;
    display: inline;
}

.social-media i {
    color: white;
    margin: 5%;
    padding: 1%;
}

.social-media i:hover {
    color: orangered;
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
}
